
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p style="margin-top:-12px">
    사용한 데이터를 보시려면
    <em class="link">
        <a href="/room/roomlist" target="_blank">여기를 클릭하세요!</a>
    </em>
</p>
<div id="map" style="width:100%;height:350px;"></div>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b7c0acb1395b016fc6b2661dad73840f&libraries=clusterer"></script>
<script type="text/javascript" src="/js/room/list.js"></script>
</body>
</html>